/*
  Configuracion default
*/
* {
    margin: 0;
    padding: 0;
    transition-property: all;
    transition-duration: 0.3s;
    transition-timing-function: ease-out;
}

body {
    margin: 0;
    padding: 0;
}

.fondo {
    background-color: #d1cdcd;
    height: 96.8vh;
    padding-top: 20px;
}

canvas {
    background-color: #fff;
    display: block;
    margin: 0 auto;
    margin-top: 20px;
    cursor: url(img/cirle.png), auto;
    border-radius: 0.5rem;
}

.barra {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5px;
}

.tools {
    display: flex;
    border: 1px black solid;
    border-radius: 5px;
    padding: 5px;
    align-items: center;
}

/*Cambio del estilo de icono de borrador*/
.fa-eraser {
    font-size: 20px;
}

.tools .btn {
    cursor: pointer;
    border: none;
    background-color: #d1cdcd;
    padding-left: 0.3rem;
    padding-right: 0.3rem;
}

.tools .color {
    width: 40px;
    height: 30px;
}

.tools .pen .tools .save{
    transform: translateY(3px);
}

.tools .btn:active  {
    transform: translateY(-4px);
}

p{
    font-size: 2rem;
    transform: translateY(-2px);
}